<h1>OKURIBANA</h1>
<h3>一覧ページ</h3>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to "新規投稿へ", new_flower_path %>
<div class="flowers-container">
  <% @flowers.each do |t| %>
    <div class="flower">
    <%= t.user.email %>

     <%= link_to "詳細→", flower_path(t.id) %>
     <%= link_to "編集→", edit_flower_path(t.id) %>
     <%= button_to "削除→", flower_path(t.id), method: :delete %>

    <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to flower_like_path(id: t.id, flower_id: t.id), method: :delete do %>
              <p>いいねを取り消し→</p><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to flower_likes_path(id: t.id, flower_id: t.id), method: :post do %>
              <p>いいね</p><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= t.likes.count %>
  <% end %>

    <%= image_tag t.image_url, size: "250x200" if t.image? %>

    <div>

<h2>総合評価：
<span class="star-rating">
   <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
   <span class="star-rating-back">★★★★★</span>
</span> 
</h2>
</div>

<%= link_to "ログイン", flowers_path %>
<%= link_to "新規登録", new_user_registration_path %>
     
  <% end %>


</div>

